{% extends 'base.html' %}

{% block content %}
<div class="title-area position-relative" style="background-image: url({{ book.image.url }});">
    <div class="h-100 w-100 py-5 d-flex text-center position-absolute" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto">
            <h1 class="title mb-3 font-weight-bold">{{ book.title + ' ' + book.author}}</h1>
            <p class="mb-3 mx-auto">
                Рейтинг <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
            </p>
            <div class="container">
                <ul class="w-75 mb-5 mx-auto">
                    {% for genre in book.genres %}
                        <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <section class="about mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">О книге</h2>
        <p>Объем: {{ book.volume }}</p>
        <p>{{ book_desc | safe }}</p>
    </section>
    <section class="reviews mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Отзывы о книге</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Оценка</th>
                    <th>Текст</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <tr>
                        <td>{{ review.user.login }}</td>
                        <td>{{ review.rating }}</td>
                        <td>{{ review.text }}</td>
                    </tr>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ url_for('books.reviews', book_id=book.id) }}" class="btn btn-dark">Все отзывы</a>     
        </div> 
    {% if not user_review and current_user.is_authenticated %}
    <h2>Оставить отзыв</h2>
    <form class="mb-5 mt-3 row align-items-center" method="post" action="{{ url_for('books.create_review', book_id = book.id) }}">
        <div class="mb-3">
            <select class="form-select"  id="review-rating" name="review-rating" title="Рейтинг">
                <option value="5" selected>Отлично</option>
                <option value="4">Хорошо</option>
                <option value="3">Удовлетворительно</option>
                <option value="2">Неудовлетворительно</option>
                <option value="1">Плохо</option>
                <option value="0">Ужасно</option>
            </select>
          </div>
          <div class="mb-3">
            <textarea class="form-control" placeholder="Напишите ваш отзыв о книге" name="review-text" id="review-text"></textarea>
          </div>
          <div class="col-md-2 my-3 align-self-end">
            <button type="submit" class="btn btn-dark w-100 mt-auto">Отправить</button>
        </div>
    </form>
    {% elif user_review %}
    <table class="table">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Оценка</th>
                <th>Текст</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr>
                    <td>{{ user_review.user.first_name }} {{user_review.user.last_name}}</td>
                    <td>{{ user_review.rating }}</td>
                    <td>{{ user_review.text }}</td>
                </tr>
            </tr>
        </tbody>
    </table>
    {% endif %}
    </section>
</div>

{% endblock %}