{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Статистика действий пользователей</h1>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'stats.users' %}active{% endif %}" aria-current="page" href="{{ url_for('stats.users') }}">Журнал действий пользователей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'stats.books' %}active{% endif %}" href="{{ url_for('stats.books') }}">Статистика просмотра книг</a>
        </li>
    </ul>
    <div class="container-fluid mt-3 mb-3 my-5">
        {% block tab_content %}
        
        {% endblock %}
    </div>
</div>

{% endblock %}