{% extends 'stats/base.html' %}

{% from 'pagination.html' import render_pagination %}

{% block tab_content %}

<h2>Журнал действий пользователей</h2>
<table class="table ">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Book</th>
            <th>Date</th>
        </tr>        
    </thead>
    <tbody>
        {% for visit in visits %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if visit.user %}
                            {{ visit.user.last_name }} {{ visit.user.first_name }} {{ visit.user.middle_name or '' }}
                        {% else %}
                            Неавторизованный пользователь
                        {% endif %}
                    </td>
                    <td>{{ visit.book.title }}</td>
                    <td>{{ visit.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{{ render_pagination(pagination, request.endpoint) }}
<a class="btn btn-primary" href="{{ url_for('stats.users', download_csv='True') }}">Экспорт в csv</a>
{% endblock %}